section{
    max-width: 800px;

}
section div{
    display: flex;
    justify-content: left;
    align-items: center;
}
.title{
    font-size: 30px;
    font-weight: bold ;

}
h3{
    font-size: 20px;
    font-weight: bold ;

}
h4{
    font-weight: 500 ;
}
.li_group{
    padding-top: 20px;
    
}
.li_group header p{
    padding-left: 400px;
}
header div{
    display: flex;
    justify-content: left;
    align-items: center;
}
span{
    color: #666;
    display: flex;
    align-items: center;
    gap: .25rem;
    font-size: .85rem;
    letter-spacing: -.05rem
    
}
section footer{
    display: flex;
    justify-content: left;
    align-items: flex-start;
    a{
        padding-top: 10px;
        padding-left: 20px;
    }
}

svg{
    fill-opacity: 0.4;
}
img{
    margin-left: 200px;
    width: 150px;
    height: 120px;
}

p{
    color: #666;
    font-size: .9rem;
    line-height: 1.5;
    margin: 0;
    text-wrap: pretty
}
.counter-container {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
}

button {
    background-color: #f7cdcd; 
    color: #6b2b2b;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    margin-left: 10px;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color: #e6b3b3;
}

button:active {
    background-color: #d99a9a;
}

.counter {
    display: block; 
    margin-top: 20px;
    h3 {
        font-size: 20px;
        font-weight: bold;
        color: black;
    }
    h4 {
        font-weight: 500;
        color: black;
    }
}